services:
  db:
    image: postgres:16
    container_name: shorten-url
    env_file:
      - ../backEnd/.env
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: